@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.correct {
  background: rgb(157, 241, 157);
  color: black;
}

.wrong {
  background: rgb(255, 152, 152);
  color: black;
}
